*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('images/hd-wallpaper-1056764_1280.jpg');
font-family: 'Roboto Slab', serif;
}
.music-player{
    width:350px;
    height: 550px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    background: rgba(27, 27, 29, 0.8);
    color: rgb(195, 207, 217);
}
.music-name,.artist-name{
    text-align: center;
    text-transform: capitalize;
}
.music-name{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top:20px ;
}
.artist-name{
    font-size: 20px;
}
.disk{
    position: relative;
    display: block;
    margin: 40px auto;
    width:180px;
    height: 180px;
    border-radius:50% ;
    -webkit-border-radius:50% ;
    -moz-border-radius:50% ;
    -ms-border-radius:50% ;
    -o-border-radius:50% ;
    background-image: url('images/cover\ 1.png');
    background-size: cover;
    box-shadow:0 0 0 10px rgba(34,37,55,0.8);
    animation:rotate 20s linear infinite ;
    animation-play-state:pause ;
}
.disk.play{
    animation-play-state:running ;
    
}

.disk::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    width:30px;
    height: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background: rgb(20, 18, 34);
}
.song-slider{
    width: 100%;
    position: relative;
}
.seek-bar{
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    overflow: hidden;
    background:white;
    cursor: pointer;
}
.seek-bar::-webkit-slider-thumb{
    -webkit-appearance: none;
    width:1px;
    height:20px;
    background: gray;
    box-shadow: -400px 0 0  400px #343a34;
}

.current-time,.song-duration{
    font-size: 14px;
}
.song-duration{
    position:absolute;
    right: 0;
}
.play-btn{
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background: rgb(195, 207, 217);
    cursor: pointer;
    border: none;
}
.controls{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 20px;
}

.play-btn span{
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    width: 10px;
    height: 30px;
    border-radius:2px ;
    -webkit-border-radius:2px ;
    -moz-border-radius:2px ;
    -ms-border-radius:2px ;
    -o-border-radius:2px ;
    background: #343a34;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    clip-path: polygon(0 0,100% 0,100% 100%,0% 100%);
}

.play-btn span:nth-child(2){
    left: 55%;
    transform-origin: center;

}
.play-btn.pause span:nth-child(2){
    transform:translateY(-50%)scaleY(0);
    -webkit-transform:translateY(-50%)scaleY(0);
    -moz-transform:translateY(-50%)scaleY(0);
    -ms-transform:translateY(-50%)scaleY(0);
    -o-transform:translateY(-50%)scaleY(0);
}
.play-btn.pause span:nth-child(1){
    width: 35%;
    left: 53%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    clip-path: polygon(0 0, 100% 50%,100% 50%, 0% 100%);
}

.play-btn.pause{
    animation: pulse 2s linear infinite;
    -webkit-animation: pulse 2s linear infinite;
}

@keyframes pulse{
    0%{
        box-shadow: 0;
    }
    50%{
        box-shadow: 0 0 0 5px rgba(95, 112, 209, 0.8);
    }
    100%{
        box-shadow: 0 0 0 5px rgba(91, 111, 223, 0.8);
    }

}

.btn{
    width: 40px;
    height: 40px;
    background: rgb(190, 197, 214);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
}

@keyframes rotate{
    0%{
        transform: rotate(0);
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
}
    100%{
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
}
}